---
http_interactions:
- request:
    method: get
    uri: https://api.binance.com/sapi/v1/capital/config/getall?recvWindow=5000&signature=4086b37550cd4dc6ef57e4979df0f4eedcb9aa060fbf21cf93088ee88360f76e&timestamp=1599660469000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mbx-Apikey:
      - b3gxC40YDY5UaGj4uxr5feKb5hM03aJQ8ke79sn3Kbi55IntSvVp3cqXajeTYZpk
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: ASCII-8BIT
      string: '[{"coin":"BTC", "depositAllEnable":true, "free":"0.08074558", "freeze":"0.00000000", "ipoable":"0.00000000", "ipoing":"0.00000000", "isLegalMoney":false, "locked":"0.00000000", "name":"Bitcoin", "networkList":[{"addressRegex":"^(bnb1)[0-9a-z]{38}$", "coin":"BTC", "depositDesc":"Wallet Maintenance, Deposit Suspended", "depositEnable":false, "isDefault":false, "memoRegex":"^[0-9A-Za-z\\\\-_]{1,120}$", "minConfirm":1, "name":"BEP2", "network":"BNB", "specialTips":"Both a MEMO and an Address are required to successfully deposit your BEP2-BTCB tokens to Binance.", "unLockConfirm":0, "withdrawDesc":"Wallet Maintenance, Withdrawal Suspended", "withdrawEnable":false, "withdrawFee":"0.00000220", "withdrawIntegerMultiple":"0.00000001", "withdrawMax":"9999999999.99999999", "withdrawMin":"0.00000440", "withdrawInternalMin":"0.00000440", "sameAddress":true, "estimatedArrivalTime":25, "busy":false, "contractAddressUrl":"https://bscscan.com/token/", "contractAddress":"0x7130d2a12b9bcbfae4f2634d864a1ee1ce3ead9c"}, {"addressRegex":"^[13][a-km-zA-HJ-NP-Z1-9]{25,34}$|^(bc1)[0-9A-Za-z]{39,59}$", "coin":"BTC", "depositEnable":true, "isDefault":true, "memoRegex":"", "minConfirm":1, "name":"BTC", "network":"BTC", "specialTips":"", "unLockConfirm":2, "withdrawEnable":true, "withdrawFee":"0.00050000", "withdrawIntegerMultiple":"0.00000001", "withdrawMax":"750", "withdrawMin":"0.00100000", "withdrawInternalMin":"0.00100000", "sameAddress":false, "estimatedArrivalTime":25, "busy":false, "contractAddressUrl":"", "contractAddress":""}, {"coin":"1MBABYDOGE", "depositAllEnable":true, "withdrawAllEnable":true, "name":"1M x BABYDOGE", "free":"34941.1", "locked":"0", "freeze":"0", "withdrawing":"0", "ipoing":"0", "ipoable":"0", "storage":"0", "isLegalMoney":false, "trading":true, "networkList":[{"network":"BSC", "coin":"1MBABYDOGE", "withdrawIntegerMultiple":"0.01", "isDefault":false, "depositEnable":true, "withdrawEnable":true, "depositDesc":"", "withdrawDesc":"", "specialTips":"", "specialWithdrawTips":"", "name":"BNB Smart Chain (BEP20)", "resetAddressStatus":false, "addressRegex":"^(0x)[0-9A-Fa-f]{40}$", "memoRegex":"", "withdrawFee":"404", "withdrawMin":"808", "withdrawMax":"9999999999", "withdrawInternalMin":"0.01", "depositDust":"0.01", "minConfirm":15, "unLockConfirm":0, "sameAddress":false, "estimatedArrivalTime":1, "busy":false, "contractAddressUrl":"https://bscscan.com/token/", "contractAddress":"0xc748673057861a797275cd8a068abb95a902e8de", "denomination":1000000}, {"network":"ETH", "coin":"1MBABYDOGE", "withdrawIntegerMultiple":"0.01", "isDefault":true, "depositEnable":true, "withdrawEnable":true, "depositDesc":"", "withdrawDesc":"", "specialTips":"", "specialWithdrawTips":"", "name":"Ethereum (ERC20)", "resetAddressStatus":false, "addressRegex":"^(0x)[0-9A-Fa-f]{40}$", "memoRegex":"", "withdrawFee":"2313", "withdrawMin":"4626", "withdrawMax":"9999999999", "withdrawInternalMin":"0.01", "depositDust":"0.01", "minConfirm":6, "unLockConfirm":64, "sameAddress":false, "estimatedArrivalTime":2, "busy":false, "contractAddressUrl":"https://etherscan.io/address/", "contractAddress":"0xac57de9c1a09fec648e93eb98875b212db0d460b", "denomination":1000000}]}], "storage":"0.00000000", "trading":true, "withdrawAllEnable":true, "withdrawing":"0.00000000"}]'
  recorded_at: Wed, 09 Sep 2020 14:07:51 GMT
recorded_with: VCR 6.0.0
