---
http_interactions:
- request:
    method: post
    uri: https://testnet.binance.vision/api/v3/order
    body:
      encoding: UTF-8
      string: symbol=ETHUSDT&type=MARKET&side=SELL&quantity=0.04&recvWindow=5000&timestamp=1752315600000&signature=e488d3e7bb41a806d25aeaa7a33534867d1d21ff6d29e5ba1e549ba76495e0ea
    headers:
      X-Mbx-Apikey:
      - YdctvIyDajSJLCSZWqxwiE4atZIAWzs3o0TIuvqKzXTXC92HrnGT6xlxtjtvzDHc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 39f5aa26-7f7e-4d4a-bf91-f2e8edcd957a
      X-Mbx-Used-Weight:
      - '1'
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Mbx-Order-Count-10s:
      - '1'
      X-Mbx-Order-Count-1d:
      - '1'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"ETHUSDT","orderId":3018489,"orderListId":-1,"clientOrderId":"HzU7zvxnKxxQgTaDTPcDIm","transactTime":1752315600989,"price":"0.00000000","origQty":"0.04000000","executedQty":"0.04000000","origQuoteOrderQty":"0.00000000","cummulativeQuoteQty":"118.94800000","status":"FILLED","timeInForce":"GTC","type":"MARKET","side":"SELL","workingTime":1752315600989,"fills":[{"price":"2973.70000000","qty":"0.04000000","commission":"0.00000000","commissionAsset":"USDT","tradeId":551106}],"selfTradePreventionMode":"EXPIRE_MAKER"}'
  recorded_at: Sat, 12 Jul 2025 10:20:01 GMT
recorded_with: VCR 6.3.1
