---
http_interactions:
- request:
    method: get
    uri: https://testnet.binance.vision/api/v3/allOrders?recvWindow=5000&signature=81879c5a1ce8b60a4ce95e7f826dfc3acccb0d3352448d495ce4f3065255f660&symbol=ETHUSDT&timestamp=1752314426000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mbx-Apikey:
      - YdctvIyDajSJLCSZWqxwiE4atZIAWzs3o0TIuvqKzXTXC92HrnGT6xlxtjtvzDHc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 39f5aa26-7f7e-4d4a-bf91-f2e8edcd957a
      X-Mbx-Used-Weight:
      - '20'
      X-Mbx-Used-Weight-1m:
      - '20'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol":"ETHUSDT","orderId":3012128,"orderListId":-1,"clientOrderId":"9akxLFaT6vksadz4QHJN2b","price":"0.00000000","origQty":"0.04000000","executedQty":"0.04000000","cummulativeQuoteQty":"118.73880000","status":"FILLED","timeInForce":"GTC","type":"MARKET","side":"SELL","stopPrice":"0.00000000","icebergQty":"0.00000000","time":1752312784245,"updateTime":1752312784245,"isWorking":true,"workingTime":1752312784245,"origQuoteOrderQty":"0.00000000","selfTradePreventionMode":"EXPIRE_MAKER"},{"symbol":"ETHUSDT","orderId":3012129,"orderListId":-1,"clientOrderId":"PmsCwO23AEDDD8SIfkOfoX","price":"0.00000000","origQty":"0.04000000","executedQty":"0.04000000","cummulativeQuoteQty":"118.73880000","status":"FILLED","timeInForce":"GTC","type":"MARKET","side":"SELL","stopPrice":"0.00000000","icebergQty":"0.00000000","time":1752312784582,"updateTime":1752312784582,"isWorking":true,"workingTime":1752312784582,"origQuoteOrderQty":"0.00000000","selfTradePreventionMode":"EXPIRE_MAKER"},{"symbol":"ETHUSDT","orderId":3012335,"orderListId":-1,"clientOrderId":"YjfCuSVAsehGKV14nhE6jk","price":"0.00000000","origQty":"0.04000000","executedQty":"0.04000000","cummulativeQuoteQty":"118.73880000","status":"FILLED","timeInForce":"GTC","type":"MARKET","side":"SELL","stopPrice":"0.00000000","icebergQty":"0.00000000","time":1752312834074,"updateTime":1752312834074,"isWorking":true,"workingTime":1752312834074,"origQuoteOrderQty":"0.00000000","selfTradePreventionMode":"EXPIRE_MAKER"},{"symbol":"ETHUSDT","orderId":3012336,"orderListId":-1,"clientOrderId":"5vv5Bim3SXKDC0VRG723oM","price":"0.00000000","origQty":"0.04000000","executedQty":"0.04000000","cummulativeQuoteQty":"118.73880000","status":"FILLED","timeInForce":"GTC","type":"MARKET","side":"SELL","stopPrice":"0.00000000","icebergQty":"0.00000000","time":1752312834413,"updateTime":1752312834413,"isWorking":true,"workingTime":1752312834413,"origQuoteOrderQty":"0.00000000","selfTradePreventionMode":"EXPIRE_MAKER"}]'
  recorded_at: Sat, 12 Jul 2025 10:00:27 GMT
recorded_with: VCR 6.3.1
