---
http_interactions:
- request:
    method: get
    uri: https://testnet.binance.vision/api/v3/order?orderId=1817387327&recvWindow=5000&signature=788c3d88271a5aece8c59cfffacdd7b84430b78acef9174c11ef9ba3d1e6cb07&symbol=ETHUSDT&timestamp=1752317648000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mbx-Apikey:
      - YdctvIyDajSJLCSZWqxwiE4atZIAWzs3o0TIuvqKzXTXC92HrnGT6xlxtjtvzDHc
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 39f5aa26-7f7e-4d4a-bf91-f2e8edcd957a
      X-Mbx-Used-Weight:
      - '20'
      X-Mbx-Used-Weight-1m:
      - '20'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"ETHUSDT","orderId":1817387327,"orderListId":-1,"clientOrderId":"HzU7zvxnKxxQgTaDTPcDIm","transactTime":1752315600989,"price":"0.00000000","origQty":"0.04000000","executedQty":"0.04000000","origQuoteOrderQty":"0.00000000","cummulativeQuoteQty":"118.94800000","status":"FILLED","timeInForce":"GTC","type":"MARKET","side":"SELL","workingTime":1752315600989,"fills":[{"price":"2973.70000000","qty":"0.04000000","commission":"0.00000000","commissionAsset":"USDT","tradeId":551106}],"selfTradePreventionMode":"EXPIRE_MAKER"}'
  recorded_at: Sat, 12 Jul 2025 10:54:08 GMT
recorded_with: VCR 6.2.0
